* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font: 15px/1.5 'Trebuchet MS', Arial, sans-serif, Helvetica;
} 

#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(4, 54, 54);
    padding: 10px;
    padding-left: 20px;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-content: center;
    padding: 25px 25px;
}

#main .main-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    height: fit-content;
    background-color: rgb(4, 54, 54);
    border-radius: 15px;
}

#main .main-container h2 {
    font-size: 45px;
    color: rgb(255, 255, 255);
}

#pass-value {
    font-size: 65px;
    color: rgb(255, 255, 255);
    margin: 10px 0;
}

#increment {
    border: 1px solid rgb(192, 21, 64);
    background-color: rgb(192, 21, 64);
}

#save {
    background-color: inherit;
    border: 1px solid white;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
    width: 100%;
    border-radius: 8px;
    color: white;
    transition: transform 250ms ease-in;
}

.btn:hover {
    transform: translateX(7px);
}

.log-container {
    border-radius: 15px;
    margin-top: 25px;
    padding: 20px;
    color: white;
    font-size: 28px;
    text-align: center;
    height: fit-content;
    background-color: rgb(4, 54, 54);
}

#saved-logs {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}